Test_Final/Connected Services/Papeletas/WCF_Final_012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Final_01" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Final_01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPapeletaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PapeletaBE" nillable="true" type="tns:PapeletaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPapeletaBE" nillable="true" type="tns:ArrayOfPapeletaBE" />
  <xs:complexType name="PapeletaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_Agente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cod_Infraccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_Papeleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fec_Papeleta" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Num_Papeleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num_Placa" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PapeletaBE" nillable="true" type="tns:PapeletaBE" />
</xs:schema>